/* SECTIONS:
- Colors;
- Effects;
- Body;
- Buttons;
- Navigation:
--- Identity and Actions;
--- Menu Index;
- Content;
- Grid;
- Actions;
*/

/* Colors */
@import "../../css/colors.css";

/* Effects */
@import "../../css/effects.css";

/* Body */
body, button {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

.body-container {
  display: flex;
  flex-direction: row;
  width: 100vw;
  justify-content: flex-start;
  flex-wrap: nowrap;
}

/* Buttons */
.button-secondary {
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  justify-content: center;

  height: 3em;
  background-color: transparent;
  box-sizing: border-box;
  border: 1px #eceff1 solid; /* .panel-primary-text-color */
  border-radius: 2px;
  text-align: center;
}

.button-secondary:hover{
  background: #673AB7; /*.accent-color*/
}

.button-secondary>i {
  display: inline-flex;
  float: left;
}
.button-secondary>span {
  display: inline-flex;
  float: left;
  margin-top: 0.25em;
  margin-left: 0.25em;
}


/* Navigation */
.navigation-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  min-width: 16em;
  max-width: 18em;
  width: 23%;
}

/* Navigation: Identity and Actions */
.identity-panel,
.identity-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.identity-panel {
  padding-top: 1.4em;
  padding-bottom: 1.4em;
}

.identity-info,
#menu-hide  {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 1em;
}

.identity-info>img {
  border-radius: 100%;
  border: 0;
  width: 3em;
  height: 3em;
}

.identity-info>div{
  margin-top: 0.75em;
  margin-left: 0.75em;
  height: 1em;
}

#menu-hide>i {
  display: inline-flex;
  float: left;
}
#menu-hide>div {
  display: inline-flex;
  float: left;
  margin-top: 0.25em;
  margin-left: 0.75em;
  height: 1em;
}

.identity-footer {
  padding-top: 1.4em;
  padding-bottom: 1.4em;
}

.identity-actions{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.identity-actions>button{
  margin-right: 1em;
}

#menu-icon {
  visibility: collapse;
}

/* Navigation: Menu index */
.menu-panel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100%;
}

.menu-panel>ul {
  width: 100%;
  font-size: 0.85em;
  font-weight: 500;
  list-style-type: none;
  margin-top: 2em;
  margin-bottom: 2em;
  overflow-y: auto;
}

.menu-panel li {
  padding-top: 1.25em;
  padding-bottom: 1.25em;
  padding-left: 25%;
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.menu-panel li.hidden-menu-pos {
  visibility: hidden;
  display: none;
}

.menu-panel li>i {
  display: inline-flex;
  float: left;
}
.menu-panel li>span {
  display: inline-flex;
  float: left;
  margin-top: 0.25em;
  margin-left: 1.4em;
}

.menu-panel li:hover {
  background: #D1C4E9; /* .light-primary-color */
  color: #37474f; /* .panel-light-color */
}

/* Content */
.main-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width:100%;
  max-height: 100vh;
  height: 100vh;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 4.2em;
  width: 100%;
}

.header-container>header  {
  font-size: 1.4em;
  text-transform: capitalize;
  padding-top: 0.7em;
  padding-bottom: 1.1em;
}

.header-container>div {
  font-size: 1.4em;
  padding-top: 0.7em;
  padding-bottom: 0.8em;
}

.header-container>header {
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  justify-content: center;
  height: 3em;
  margin-left: 2.5em;
  text-align: center;
}

.header-container span {
  display: inline-flex;
  float: left;
  margin-top: 0.2em;
  margin-left: 0.4em;
}

.header-icons{
  font-size: 1.4em;
  display: inline-flex;
  float: left;
}

.header-container>.options-icon {
  display: flex;
  flex-direction: row;
  margin-right: 3em;
}

.options-icon>label{
  padding: 0.2em;
  display: flex;
  margin-left: 1em;
}

.options-icon>label:hover {
  color: #D1C4E9; /* .light-primary-color */
  border-radius: 100%;
}

.main-content>.content-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  min-height: calc(100vh - 12em);
  max-height: 100%;
  overflow-y: auto;
}

.content-container>div,
.content-container>article {
  padding: 2em;
}

.content-container p[title="abstract"]{
  font-weight: 500;
  padding-bottom: 1em;
}

.content-container p{
  padding-top: 0.5em;
}

/* Grid */
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 1em;
}

.row-pull-right {
  justify-content: flex-end;
}

.row-center {
  justify-content: center;
}

.grid-cell {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
  color: #37474f; /* panel-light-color */
  box-sizing: border-box;
  padding: 1em;
  min-height: 10em;
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 1em;
  clear: both;
}

.grid-cell>img {
  width: 100%;
  height: auto;
}

.horizontal-three {
  width: 100%;
  min-width: 25em;
}

.horizontal-two {
  width: 62%;
  min-width: 23em;
}

.horizontal-one {
  width: calc(31% + 4px);
  min-width: 17em;
}

.content-gallery {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width:auto;
}

.stats-square {
  margin-left: 1.5em;
  margin-right: 1.5em;
  margin-bottom: 1em;
  box-sizing: border-box;
  width: 13.5em;
  height: 13.5em;
  border-radius: 100%;
}

.stats-border-accent {
  border: 1.3em #FF4081 solid;
}

.stats-border-default {
  border: 1.3em #673AB7 solid;
}

/* Actions */
#menu-hide.hide-menu-section {
  visibility: hidden;
  display:none;
}
