@media (max-height: 460px) {
  .identity-panel,
  #menu-hide {
    padding-top: 0.7em;
    padding-bottom: 0.7em;
  }
  .identity-panel>div,
  #menu-hide>div {
    margin-top: 0;
  }
  .identity-footer {
    visibility: hidden;
    display: none;
  }

  .menu-panel li.hidden-menu-pos {
    visibility: visible;
    display: flex;
  }
}
