/* SECTIONS:
- Colors;
- Body;
- Buttons;
- Navigation:
--- Identity and Actions
--- Menu Index
*/

/* Colors */
.dark-primary-color    { background: #512DA8; }
.default-primary-color { background: #673AB7; }
.light-primary-color   { background: #D1C4E9; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: #FF4081; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #727272; }
.divider-color         { border-color: #B6B6B6; }
.panel-dark-color      { background: #263238; background: rgba(0,0,0,.87); }
.panel-light-color     { background: #37474f; }
.panel-primary-text-color { color: #eceff1; }
.panel-secondary-text-color { color: rgba(255, 255, 255, 0.56); }
/* .panel-secondary-text-color { color: #D1C4E9; }*/

/* Body */
body, button {
  font-family: "Roboto", sans-serif;
}

.body-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

/* Buttons */
.button-secondary {
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  justify-content: center;

  height: 3em;
  background-color: transparent;
  box-sizing: border-box;
  border: 1px #eceff1 solid; /* .panel-primary-text-color */
  border-radius: 2px;
  text-align: center;
}

.button-secondary:hover{
  background: #673AB7; /*.accent-color*/
}

.button-secondary>i {
  display: inline-flex;
  float: left;
}
.button-secondary>span {
  display: inline-flex;
  float: left;
  margin-top: 0.25em;
  margin-left: 0.25em;
}


/* Navigation */
.navigation-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  min-width: 14em;
  max-width: 18em;
  width: 23%;
}

/* Navigation: Identity and Actions */
.identity-panel,
.identity-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.identity-panel {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

.identity-info  {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 1em;
}

.identity-info>img {
  border-radius: 100%;
  border: 0;
  width: 3em;
  height: 3em;
}

.identity-info>div {
  margin-top: 0.75em;
  margin-left: 0.75em;
  height: 1em;
}

.identity-footer {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

.identity-actions{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.identity-actions>button{
  margin-right: 1em;
}

/* Navigation: Menu index */
.menu-panel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-height: calc(100vh - 12em);
}

.menu-panel>ul {
  width: 100%;
  font-size: 0.9em;
  font-weight: 500;
  list-style-type: none;
  margin-top: 2em;
  margin-bottom: 2em;
  overflow-y: auto;
}

.menu-panel li {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  padding-left: 5em;
}

.menu-panel li:hover {
  background: #D1C4E9; /* .light-primary-color */
  color: #37474f; /* .panel-light-color */
}

/* Content */
.content-container {
  margin: 1em;
  padding: 1em;
}

.content-container>header {
  font-size: 2em;
  font-variant-caps: all-small-caps;
  padding-top: 1em;
  padding-bottom: 1em;
}

.content-container p[title="abstract"]{
  font-weight: 500;
  margin-top: 1em;
  margin-bottom: 1em;
}

.content-container p{
  padding-top: 0.5em;
}
