@media (max-height: 600px) {
  .menu-panel {
    min-height: calc(100vh - 12em);
    height: auto;
  }
}

@media (max-height: 460px) {
  .identity-panel,
  #menu-hide {
    padding-top: 0.5em;
    padding-bottom: 1.2em;
  }
  .identity-panel>div,
  #menu-hide>div {
    margin-top: 0;
  }
  .identity-footer {
    visibility: hidden;
    display: none;
  }

  .menu-panel li.hidden-menu-pos {
    visibility: visible;
    display: flex;
  }
}
